<div class="d-md-none">
    <div class="card flex-md-row mb-4 box-shadow darkPost">
        <div class="card-header border-0">
            <h5 class="mb-0">
                <img class="card-img-left flex-left rounded img-fluid" style="max-width: 50px; max-height:50px; width:50px; height:50px;" src="{profilePic}" data-holder-rendered="true">
                <a href="/profile.php?id={profileID}">{profileNameFirst} {profileNameLast}</a>
            </h5><small>Posted on {postDate}</small>
        </div>

        <div class="card-body">{postContent}</div>

    </div>
</div>