<div class="d-none d-md-block">
    <div class="card mb-4 darkPost">
        <div class="card-header border-0">
            <h5 class="mb-0">
                <img class="card-img-top flex-left rounded img-fluid"
                     style="min-width:100px; max-width: 150px; min-height:100px; max-height:150px; width:50px; height:50px;"
                     src="{profilePic}" data-holder-rendered="true"/>
                <a href="/profile.php?id={profileID}">{profileNameFirst} {profileNameLast}</a>
            </h5>
        </div>
        <div class="card-body">
            <div class="mb-1"><p class="card-text mb-auto">{postContent}</p></div>
        </div>
        <div class="card-footer">
            <small class="float-right">Posted on {postDate}</small>
        </div>
    </div>
</div>