<div class="row">
    <div class="col">
        <div class="my-3 p-3 bg-dark rounded box-shadow">
            <form method="post">
                <div class="form-row align-items-center">
                    <div class="col my-1">
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="updatePostText"
                                  placeholder="It's Update Time!" rows="1"></textarea>
                    </div>
                    <div class="col-auto my-1">
                        <button class="btn btn-danger" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="my-3 p-3 bg-dark rounded box-shadow">
            <div id="load_posts"></div>
            <div id="load_posts_message"></div>
        </div>
    </div>
</div>
